urxvt*font:                 xft:Ubuntu Mono:size=12

urxvt*termName:             rxvt
urxvt*background:           #33393b
urxvt*foreground:           white
urxvt*scrollBar:            false

URxvt.perl-ext-common:      default,matcher
URxvt.url-launcher:         /usr/bin/xdg-open
URxvt.matcher.button:       1

URxvt.urlButton: 1
URxvt.underlineURLs: True

URxvt.copyCommand:  xclip -i -selection clipboard
URxvt.pasteCommand: xclip -o -selection clipboard


Xft*dpi:                    96
Xft*antialias:              true
Xft*hinting:                true
Xft*hintstyle:		          hintfull
Xft*rgba:		                rgb

URxvt.transparent:   	      false
URxvt.tintColor:     	      #54487a
URxvt.shading:       	      100
URxvt.inheritPixmap: 	      false
URxvt.fading: 		          100
URxvt.saveLines: 	          50000
URxvt.cursorBlink:          1

URxvt*scrollTtyOutput: 	    false
URxvt*scrollWithBuffer:     true
URxvt*scrollTtyKeypress:    true

URxvt*color0:      	        #000000
URxvt*color8:      	        #666666

URxvt*color1:       	      #9e1828
URxvt*color9:      	        #cf6171

URxvt*color2:      	        #aece92
URxvt*color10:     	        #c5f779

URxvt*color3:      	        #968a38
URxvt*color11:     	        #fff796

URxvt*color4:      	        #414171
URxvt*color12:     	        #4186be

URxvt*color5:      	        #963c59
URxvt*color13:     	        #cf9ebe

URxvt*color6:      	        #418179
URxvt*color14:     	        #71bebe

URxvt*color7:      	        #bebebe
URxvt*color15:     	        #ffffff

! XTerm

! General settings
XTerm*geometry: 80x24
XTerm*saveLines: 1024
XTerm*scrollBar: False
XTerm*loginshell: False
XTerm*cursorBlink: False

! Fonts and Encoding
XTerm*utf8: True
XTerm*locale: True
XTerm*utf8Title: True
XTerm*renderFont: True
XTerm*preeditType: Root
XTerm*xftAntialias: true
XTerm*faceName: xft:DejaVu Sans Mono for Powerline-12

! Trim trailing spaces
XTerm*trimSelection: true

! Fix alt-key inputting
XTerm*eightBitInput: false
XTerm*metaSendsEscape: true

! Copy and paste with clipboard
XTerm*translations: #override \
	Ctrl Shift <KeyPress> C: copy-selection(CLIPBOARD) \n\
	Ctrl Shift <KeyPress> V: insert-selection(CLIPBOARD)

! Allow selecting email/url by double-click
XTerm*charClass: 33:48,37-38:48,45-47:48,64:48,58:48,126:48,61:48,63:48,43:48,35:48

! Man pages colors

*VT100.colorBDMode:                  true
*VT100.colorBD:                      red
*VT100.colorULMode:                  true
*VT100.colorUL:                      cyan   
*VT100.veryBoldColors:               6
